* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

.row-limit-size {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
}

body>header>nav>ul {
    display: flex;

}

.main-menu>ul>li {
    position: relative;
}

header figure {
    height: 70px;
}

.main-menu>ul>li>a:not(.contact) {
    display: block;
    height: 70px;
    padding: 0 16px;
    line-height: 80px;
    font-family: Arial, Helvetica, sans-serif;
    color: #111;
    font-weight: 700;
    font-size: 0.95rem;
    text-transform: uppercase;
}

.main-menu>ul>li:hover>a {
    color: #d31e44;
}

.contact {
    display: block;
    height: 70px;
    padding: 0 16px;
    line-height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: #111;
    font-weight: 700;
    font-size: 0.9rem;
    text-transform: uppercase;

}

.main-menu>ul>li>.contact {
    border: 2px solid #d31e44;
    border-radius: 50px;
    background-color: #d31e44;
    font-size: 12px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    height: 40px;
    box-shadow: 2px 2px 5px #454545;
    color: white;
    margin-top: 18px;
}

.main-menu>ul>li:hover>.contact {
    color: #d31e44;
    background-color: white;
    border: 2px solid #d31e44;
    transition: all 0.5s ease;
}

.fond {
    background-image: url(../image/bg-header.webp);
    height: 600px;
    margin-top: 50px;
    background-position: center;
    background-repeat: no-repeat;
}

.fond>img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 50px;
}

h2 {
    color: white;
    font-size: 40px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    margin-top: 60px;
    text-align: center;
}

h1 {
    color: white;
    font-size: 70px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;

}

.fond>p {
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 35px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;

}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 250px;
}

.fond>.catégorie {
    text-align: center;
    margin-top: 10px;
    color: rgb(124, 124, 124);
    font-size: 13px;
}

.container {
    margin: 150px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}



.box {
    width: 380px;
    margin: 15px;
    background-color: #f6f6f6;
    border-radius: 15px;
}

.container>.box .texte {
    display: flex;
    width: 380px;
    height: 120px;
    margin-left: 30px;
}

.container>.box>.texte>img {
    width: 50px;
    height: 50px;
}

.container>.box>.texte>h4 {
    margin-left: 20px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;



}

span {
    font-weight: 700;
}

.flex {
    display: flex;
    height: 40px;
}

.container>.box>.flex .picto {
    margin-top: 10px;
    margin-left: 30px;
}


.container>.box>.flex>.texte>h4 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;

}

.container>.box .paragraphe {
    margin-left: 110px;
    font-size: 14px;
    margin-bottom: 10px;
    color: rgb(91, 91, 91);
    margin-top: 10px;

}

#main {
    column-count: 2;
    margin: 0 80px;

}


#main .pedagogie>h5 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    margin-top: 10px;
    margin-left: 100px;

}

#main .pedagogie>p {

    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(97, 97, 97);
    text-align: justify;
    width: 300px;
    font-size: 16px;
    margin-left: 100px;


}

#main .livre {
    margin-left: 100px;
}

#main .pedagogie ul>li {
    margin-left: 115px;
    margin-top: 25px;
    color: #454545;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    width: 300px;
    list-style-type: square;

}

ul>li>ul {
    position: absolute;
    display: none;
    background-color: #ffffff;
    border-top: 2px solid #d31e44;
}

ul>li>ul>li {
    position: relative;
    padding: 10px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    width: 150px;
    text-align: left;
    color: #ff1818;
    margin-top: 10px;
    border-bottom: 1px solid gray;
}
ul>li:hover>ul {
    display: block;
}

ul>li>ul>li:hover {
    display: block;
    background-color: white;
}

ul>li>ul>li:hover>a {
    color: #d31e44;
}

ul>li>ul>li>a{
    color: rgb(46, 46, 46);
    font-weight: 700;
    font-size: 11px;
    
}

